@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* styles.css */
.hex {
  margin-top: 30px;
  width: 200px; /* Set your desired width */
  height: 280px; /* Set your desired height */
  background-color: #27aae1;
  position: relative;
  display: inline-block;
  overflow: hidden; /* Ensures that parts of the image outside the hexagon shape are not shown */
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); /* Hexagonal shape */
}

.hex img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the hex area without being stretched */
  object-position: center; /* Centers the image within the hexagon shape */
  clip-path: inherit; /* Applies the same clipping to the image as the .hex container */
}
.flex.h-screen {
  display: flex;
  height: 100vh; /* Use 100vh to take up full viewport height */
}


.w-1/2{
  width: 50%;
}

/* Ensure the hexagon container div has no unwanted overflow */
.hex-container {
  overflow: hidden; /* or 'auto' if you want scrolling */
  width: 100%;
  overflow-y: auto;
  height: 100%; /* This should be 50vh or 100%, depending on how you want to display it */
}
.hexagon-grid {
  position: relative;
  width: fit-content; /* Adjust the width as needed */
}
.hex {
  position: absolute;
  /* rest of your styles */
}
.rightDiv {
  overflow: hidden;
  position: relative;
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7)); /* Adjust the value based on the number of product cards and their width */
  }
}

.animate-scroll {
  animation: scroll 40s linear infinite; /* Adjust the duration and timing function as needed */
}

.animate-scroll:hover {
  animation-play-state: paused;
}
.scroll::-webkit-scrollbar {
  display: none;
}

.scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.item-name {
  color: black;
  font-weight: bold;
  font-family: 'Arial', sans-serif; /* Specify the font-family if needed */
  font-size: 18px; /* Specify the font-size if needed */
  /* Add other font styling as needed */
}

.button-save-hover:hover {
  background-color: #BBB49B;
}

.button-cancel-hover:hover {
  background-color: #000; /* Black color for hover state */
}